<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图片渐变</title>
    <script src="webjars/jquery/2.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="center-block text-center">
            <img src="/1.bmp" class="img-rounded img1">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="text-center">
            <img src="/1.bmp" class="img-thumbnail" width="304" height="236">
            <img src="/7.bmp" class="img-thumbnail" width="304" height="236">
        </div>
    </div>
</div>
<script>
    var imgNum = 0;
    var tag = 0;
    setInterval(function () {
        var str;
        if (imgNum < 10) {
            str = "/images/photo1/0"+imgNum+".bmp";
        } else {
            str = "/images/photo1/"+imgNum+".bmp";
        }
        $(".img1").attr("src", str);
        if (imgNum < 64 && tag === 0) {
            imgNum++;
        }
        if (imgNum > 0 && tag === 1) {
            imgNum--;
        }
        if (imgNum === 64) {
            tag = 1;
        }
        if (imgNum === 0) {
            tag = 0;
        }

    }, 30);
</script>
</body>

</html>